.head-banner {
  background: url("images/features9_1.jpg");
}

.banner-text {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px 15px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "T1 P1"
      "P2 T2"
      "T3 P3"
      "P4 T4"
      "T5 P5"
      "P6 T6"
      "T7 P7"
      "P8 T8"
      "T9 P9"
      "P10 T10";
    width: 75%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .T1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT1"
      "TP1";
    justify-self: stretch;
    grid-area: T1;
    margin-left: 35%;
    margin-right: -10%;
    margin-top: -15%;
  }
  
  .TT1 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT1;
  }
  
  .TP1 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP1;
  }
  
  .T2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT2"
      "TP2";
    grid-area: T2;
    margin-left: 25%;
    margin-right: 7.5%;
  }
  
  .TT2 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT2;
  }
  
  .TP2 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP2;
  }

  .T3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT3"
      "TP3";
    grid-area: T3;
    margin-right: -2.5%;
    margin-left: 35%;
    margin-bottom: 10%;
  }
  
  .TT3 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT3;
  }
  
  .TP3 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP3;
  }
  
  .T4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT4"
      "TP4";
    grid-area: T4;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: -15%;
  }
  
  .TT4 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT4;
  }
  
  .TP4 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP4;
  }
  
  .T5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT5"
      "TP5";
    grid-area: T5;
    margin-left: 35%;
    margin-right: -5%;
    margin-top: -15%;
  }
  
  .TT5 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT5;
  }
  
  .TP5 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP5;
  }
  
  .T6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT6"
      "TP6";
    grid-area: T6;
    margin-top: -20%;
    margin-left: 15%;
    margin-right: 15;
  }
  
  .TT6 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT6;
  }
  
  .TP6 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP6;
  }
  
  .T7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT7"
      "TP7";
    grid-area: T7;
    margin-left: 20%;
    margin-right: -5%;
  }
  
  .TT7 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT7;
  }
  
  .TP7 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP7;
  }
  
  .T8 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT8"
      "TP8";
    grid-area: T8;
    margin-left: 27.5%;
    margin-right: -2.5%;
    margin-top: -15%;
  }
  
  .TT8 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT8;
  }
  
  .TP8 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP8;
  }

  .T9 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT9"
      "TP9";
    grid-area: T9;
    margin-left: 25%;
    margin-right: -5%;
    margin-top: -20%;
  }
  
  .TT9 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT9;
  }
  
  .TP9 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP9;
  }

  .T10 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "TT10"
      "TP10";
    grid-area: T10;
    margin-left: 25%;
    margin-right: -2.5%;
    margin-top: -35%;
  }
  
  .TT10 {
  
    justify-self: center;
    align-self: end;
    grid-area: TT10;
  }
  
  .TP10 {
  
    justify-self: center;
    align-self: start;
    grid-area: TP10;
  }
  
  .P1 { grid-area: P1; margin-top: 5.5%; margin-bottom: -5.5%; margin-right: -10%; margin-left: 20%; }
  
  .P2 { grid-area: P2; margin-top: -2.5%; margin-bottom: 2.5%; margin-right: -10%; margin-left: 20%; }
  
  .P3 { grid-area: P3; margin-top: 2.5%; margin-bottom: 0%; margin-right: -10%; margin-left: 15%; }
  
  .P4 { grid-area: P4; margin-top: 0%; margin-bottom: 0%; margin-right: -30%; margin-left: 20%; }
  
  .P5 { grid-area: P5; margin-top: 5%; margin-bottom: -10%; margin-right: -10%; margin-left: 10%; }
  
  .P6 { grid-area: P6; margin-top: 5%; margin-bottom: -5%; margin-right: -15%; margin-left: 25%; }
  
  .P7 { grid-area: P7; margin-top: 10%; margin-bottom: -5%; margin-right: -10%; margin-left: 10%; }
  
  .P8 { grid-area: P8; margin-top: 5%; margin-bottom: -5%; margin-right: -25%; margin-left: 25%; }

  .P9 { grid-area: P9; margin-top: 2.5%; margin-bottom: -7.5%; margin-right: -10%; margin-left: 10%; }
  
  .P10 { grid-area: P10; margin-top: -5%; margin-bottom: 5%; margin-right: -20%; margin-left: 20%; }

.restrained {
    position: relative;
    z-index: 1;
    display: block;
    max-height: 520px;
    box-shadow: 0 30px 45px -10px rgb(0 0 0 / 20%);
    max-width: calc(48vw - 30px);
    height: auto;
}

.tmultiple {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin: 0;
    margin-bottom: 30px;
    text-align: justify;
    transition-duration: 0.5s;
}

.pmultiple {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}