body {
    font-family: "Segoe UI", Geneva, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #3F414B;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 270px;
}  

.grid-container {
    display: grid;
    grid-gap: 18px 5px;
    grid-template-columns: .3fr 4fr repeat(7, .85fr) repeat(2, 1.25fr);
    grid-template-rows: min-content;
    align-items: center;
}

.grid-item {
    text-align: center;
}

.grid-item-ico {
    text-align: left;
}

.gico {
    width: 100%;
    height: 100%;
}

.head-banner {
    background: url("images/head-banner.jpg");
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.banner-text {
    color: #eeeeee;
}

.button{
    background-color: #1FB393;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 20px 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid #1FB393;
    display: inline-block;
    transition-duration: 1s;
    transition-property: box-shadow, border-color, background-color, color;
}

.head-button {
    margin: 7.5%;
    width: max-content;
    height: min-content;
}

.trial {
    background-color: #fff;
    color: #1FB393;
}

.desc {
    width: 94%;
    font-size: 20px;
    line-height: 24px;
    color: #ccc;
    margin-bottom: 20px;
}

